body, *{
    font-size: 18px;
}

table, tr, td {
  border: 2px solid black;
  text-align: center;
}

h1{
    text-align: center;
    color: red;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.back_btn{
    border: 1px dashed grey;
    padding: 5px 10px;
}

table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-weight: bold;
}